<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D://temp//aim-local.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>D://temp//aim-local.log.%i.log.zip
            </FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="ERROR">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    
	
	<!--
		<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %8t [%40.40c{4}]: %m%n</pattern>
			</encoder>
		</appender>
		<appender name="logfile" class="ch.qos.logback.core.FileAppender">
			<File>D://temp//aim-local.log</File>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %8t [%40.40c{4}]: %m%n</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework.amqp.rabbit" level="INFO"/>
		<root level="DEBUG">
			<appender-ref ref="stdout"/>
			<appender-ref ref="logfile"/>
		</root>
	 Note: Support for <springProfile> in logback configuration is available from SpringBoot 1.3.0.M2 milestone onwards.
	<springProfile name="test">
		<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${logging.pattern.console}</pattern>
			</encoder>
		</appender>
		<appender name="logfile" class="ch.qos.logback.core.FileAppender">
			<File>/opt/aim-test.log</File>
			<encoder>
				<pattern>${logging.pattern.file}</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework.amqp.rabbit" level="INFO"/>
		<root level="DEBUG">
			<appender-ref ref="stdout"/>
			<appender-ref ref="logfile"/>
		</root>
	</springProfile>
	<springProfile name="pro">
		<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${logging.pattern.console}</pattern>
			</encoder>
		</appender>
		<appender name="logfile" class="ch.qos.logback.core.FileAppender">
			<File>D:\temp\aim-test.log</File>
			<encoder>
				<pattern>${logging.pattern.file}</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework.amqp.rabbit" level="INFO"/>
		<root level="INFO">
			<appender-ref ref="stdout"/>
			<appender-ref ref="logfile"/>
		</root>
	</springProfile>	
	-->	
</configuration>